# Cyscom Open Source Portal API Environment Configurations

# Port the Express API server will listen on
PORT=5000

# Remote Firebase Realtime Database REST API URL.
# E.g. FIREBASE_DB_URL=https://your-project-id-default-rtdb.firebaseio.com/
FIREBASE_DB_URL=
